@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

html, body {
    min-height: 100%;
}

header{
    display: grid;
    background-color: #7aa5d2;
    box-shadow: 0 0 15px black;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
}

#searchbox{
    margin-top: 35px;
}

#searchbox input{
    border-radius: 25px;
    width: 700px;
    height: 30px;
    text-align: center;
    border: none;
    
}

#searchbox input:focus, textarea:focus{
    outline: none;
}

#header-nav {
    margin-top: 20px;
    margin-left: 40%;
}

#shoppingcart {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

#header-nav button{
    border-radius: 25px;
    background-color: #7aa5d2;
    border: none;
    padding: 10px;
    transition: all 0.4s;
}

#header-nav button:hover{
    background-color: #508fd3;
}

#header-nav a {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    padding-top: -30px;
}


#header-nav #shoppingcart:hover{
    background-color: #FAC846;
}

#logo{
    margin-left: 20px;
}

#logo img{
    width: 100px;
}

#logo:hover{
    cursor: pointer;
}

#shoppingcart img {
    /* mudar cor do SVG https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg) brightness(99%) contrast(107%);
}

#header-navbottom{
    display: flex;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 50px;
    border-top: 2px solid white;
    background-color: #7aa5d2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: flex-end;
}

#itens{
    margin-top: 12px;
    margin-right: 50px;
}

#itens a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding-left: 20px;

}

#itens a:hover{
    color: rgb(201, 201, 201);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}